@import "../../../var";

:host {
   display: block;
	background: url(../../../assets/images/travel-bg.png) no-repeat right bottom;
	padding-bottom: 250px;
}

.box {
   position: relative;
   min-height: 780px;
   margin-bottom: 100px;

   // overflow: hidden;
   // &:hover {
   //    .fly {
   //       right: 1920px;
   //       bottom: 338px;
   //    }
   // }

   // 	&:hover{
   // 	.fly{
   // 		right: -800px;
   // 		bottom: -141px;
   // 	}
   // }
}

.slide-bg {
   object-fit: cover;
   object-position: center;
}

.subtitle {
   position: absolute;
   top: 130px;
   right: 0;
   z-index: 5;
   text-align: right;
   padding-right: 80px;

   span {
      font-weight: 100;
   }
}

.arrows {
   opacity: .25;
   margin-top: 60px;
}

.description {
   position: absolute;
   left: 135px;
   bottom: 0;
}

.logo {
   display: inline-block;
   margin-left: 25px;
   vertical-align: bottom;
}

.fly {
   position: absolute;
   // right: -43px;
   // bottom: 0;
   transform: rotate(10deg);
   // transition: all 1s;
}

.info {

   display: flex;
	justify-content: space-around;
   margin-bottom: 66px;
}

.col {
   position: relative;
   font-weight: 800;
   font-size: 40px;
   line-height: 36px;
   min-height: 200px;
   padding-left: 40px;

   span {
      display: block;
      position: absolute;
		left: 0;
		top: 0;
      white-space: nowrap;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 8px;
      opacity: 0.5;
      transform-origin: left top;
      transform: rotate(-90deg) translateX(-100%);

      &:nth-child(2) {
			position: relative;
			top: -10px;
			left: 10px;
         font-size: 14px;
         line-height: 36px;
         letter-spacing: 5.25px;
			opacity: 0.75;
			transform: none;
			text-align: right;
      }
   }
}

